#dialog-container {
    width: 95%;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid black;
    min-height: 300px;
    align-self: center;
}

.speech-bubble {
    padding: 10px;
    background-color: silver;
    border-radius: 10px;
    margin: 10px 10px 10px 200px;
    max-width: 100%;
    font-size: 14px;
}

.speech-bubble::before {
    content: '';
    position: relative;
    top: 40px;
    left: 20px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: silver;
    border-bottom: 0;
    margin-left: -15px;
    margin-top: -15px;
}
